body{
    background-image: url('rent1.jpg');

}

.form-des{
    margin-left: 6%;
    margin-top: 15%;
    width: 500px;
    height: 350px;
    border: 2px solid white;
    background-color: thistle;
    border-radius: 30px;
    text-align: center;
    opacity: 0.8;
    color: midnightblue;
    font-family: sans-serif;
    text-align: center;
}